

@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Transacción Completada </h2>
<p>Gracias por su orden!</p>
<p>
    Que tal seguir explorando nuestra tienda
    @Html.ActionLink("Pagina Principal",
"Index", "Home")
</p>
